<!--Should be changed for STAGE-->
<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger level="DEBUG" name="eu.carfax"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</included>
